<button type="button" name="button" (click)="toggleHero()">toggle hero</button>
<div *ngIf="toggleHeroFlag">
  <div class="" *ngFor="let hero of dcHeroes; let i=index" (click)="selectHero(hero)">
    {{i+1}}{{hero}}
  </div>
</div>
<div [ngSwitch] = "selectedHero" [ngStyle]="mystyle">
  <div *ngSwitchCase="dcHeroes[0]">bruce</div>
  <div *ngSwitchCase="'super man'">leon</div>
  <div *ngSwitchCase="'wonder woman'">dan</div>
  <div *ngSwitchCase="'spiderman'">ron</div>
  <div *ngSwitchDefault="">no match</div>
</div>
<button type="button" name="ctylechange" (click)="setStyle()">change Style</button>
<h2 [ngClass] = "currentCssClass">Change css class dynamically</h2>
<button name="dynamicstyle" (click)="setCssClass()">dynamically change</button>

<h2 [style.color] = 'inputColor'>Change text color using ng model</h2>
<input type="text" [(ngModel)] = "inputColor" name="" value="">
